body {
    background: #1e1e2e;
}

p {
    position: relative;
    text-align: center;
    color: #eba0ac;
    font-size: 30px;
}

.container {
    background: #1e1e2e;
    position: relative;
    text-align: center;
    color: #89dceb;
}

.Main_P {
    font-size: 120px;
}

.custom-btn {
    width: 150px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
}

.buttons {
    background: #585b70;
}

.buttons:hover {
    background: #fab387;
}
